{% extends 'base.html' %}

{% block title %}
    Crear Producto
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="titu8">Crear Producto</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="parra15">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
            {% if form.nombre.errors %}
                {% for error in form.nombre.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="parra15">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
            {% if form.descripcion.errors %}
                {% for error in form.descripcion.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="parra15">
            {{ form.precio.label_tag }}
            {{ form.precio }}
            {% if form.precio.errors %}
                {% for error in form.precio.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="parra15">
            {{ form.stock.label_tag }}
            {{ form.stock }}
            {% if form.stock.errors %}
                {% for error in form.stock.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <br>
        <div class="parra15">
            {{ form.imagen.label_tag }}
            {{ form.imagen }}
            {% if form.imagen.errors %}
                {% for error in form.imagen.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Guardar Cambios</button>
    </form>
</div>
<br>
{% endblock %}
